* {
  margin: 0;
  padding: 0;
}
#app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-color: darkseagreen;
  .emoji {
    font-size: 15rem;
    transition-duration: 200ms;
    filter: grayscale(1);
    cursor: pointer;
    &:hover {
      filter: grayscale(0);
    }
  }
}
